<form id="contacto" method="post" onsubmit="send(); return false;">
  <h2>Contacto</h2>
  <label>Email</label>
  <input name="email" type="email" required>
  <label>Mensaje</label>
  <textarea name="password" style="height: 20rem;" required></textarea>

  <button class="block">Enviar</button>
</form>
<script>
  function send() {

  }
</script>