<div class="row">
  <div class="column column-50 column-offset-25">
    <form id="contacto" method="post" onsubmit="send(); return false;">
      <h2>Contacto</h2>
      <label>Email</label>
      <input name="email" type="email" required>
      <label>Mensaje</label>
      <textarea name="password" style="height: 20rem;" required></textarea>
      <button>Enviar</button>
    </form>
  </div>
</div>
<script>
  function send() {

  }
</script>