<div class="content">
  <div class="text-center">
    <h1 class="title">Editar</h1>
  </div>
  <% unless @post.blank? %>
  <form id="post" method="post" action="javascript:void(0)" onsubmit="save(); return false;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <label>Contenido</label>
          <textarea name="content" class="form-control content-editor" required><%= @post.content %></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div id="preview">

        </div>
      </div>
    </div>
    <% end %>
    <div class="text-center">
      <button class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
<script>
  function save() {
    var form = document.getElementById('post')
    $.post('/post/edit', {
      id: '<%= @post.id.to_s %>',
      content: form.content.value
    }, function(data) {
      data = JSON.parse(data)
    })
  }

  function preview() {
    var form = document.getElementById('post')
    $.get('/post/parse', {
      text: form.content.value
    }, function(data) {
      $('#preview').html(data)
    })
    setTimeout(preview, 2000)
  }

  window.onload = function() { preview() }
</script>