<div class="header">
  <div class="jumbotron jumbotron-fluid text-center" style="background-color: transparent;">
    <h1 class="title">Tu sitio web más fachipobre</h1>
    <h5 class="subtitle">En construcción</h5>
  </div>
</div>
<div class="content"></div>