<html>
  <head>
    <title><%= @title %></title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300|Open+Sans">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <script src="https://unpkg.com/vue"></script>
  <body>
    <nav id="navigation">
      <div class="container">
        <div class="float-left">
          <a href="/">Inicio</a>
        </div>
        <div class="float-right">
          <a href="/contacto">Contacto</a>
          <a href="/admin/login">Ingresar</a>
        </div>
      </div>
    </nav>
    <div id="view" class="container">
      <%= yield %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>