<div class="content-container">
  <div class="text-center">
    <h1>Ingreso</h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form method="post" onsubmit="return false;">
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="email" required>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input class="form-control" type="password" required>
        </div>
        <div class="text-center">
          <button class="btn btn-primary">Iniciar sesión</button>
        </div>
        <div class="text-center">
          <a href="/admin/signup" class="btn btn-default">No estoy registrado</a>
        </div>
      </form>
    </div>
  </div>
</div>