<div id="account" class="row">
  <div class="column column-50 column-offset-25">
    <form id="login" method="post" onsubmit="login(); return false;">
      <h2>Ingresar</h2>
      <label>Email</label>
      <input name="email" type="email" required>
      <label>Contraseña</label>
      <input name="password" type="password" required>
      <button>Iniciar sesión</button>
      <a class="button button-outline" href="/admin/signup">No tengo una cuenta</a>
    </form>
  </div>
</div>
<script>
  function login() {
    formData = document.getElementById('login')
    $.post('/auth/open', {
      email: formData.email.value,
      password: formData.password.value
    }, function(data) {
      data = JSON.parse(data)

    })
  }
</script>