<div class="header">
  <div class="jumbotron jumbotron-fluid text-center" style="background-color: transparent;">
    <h1 class="title"><%= @title %></h1>
    <p class="subtitle"><%= @brief %></p>
  </div>
</div>
<div class="content post-body">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= @mdparser.render @content %>
    </div>
  </div>
</div>