body {
    font-family: 'Montserrat', serif;
    font-size: 0.8em;
    font-weight: 400;
}

.subtitle, .content {
    font-family: 'Open Sans', serif;
    font-weight: 300;
}

.navbar-brand, .title {
    font-weight: 700;
}

.navbar-brand, a.nav-link, .title, .subtitle {
    color: #eee !important;
}

.form-control {
    font-size: 14px;
    font-weight: 300;
}

.form-control:focus {
    border-color: #c0392b;
    outline: 0
}

a, a:hover {
    color: #c0392b;
}

/*
.nav-link.btn {
    background-color: #fff;
    color: #f96332;
}
*/

.btn, .nav-link {
    margin: 5px 1px;
    padding: 11px 22px;
}

.btn {
    font-size: inherit;
    font-weight: inherit;
    border-radius: 0.1875rem;
    cursor: pointer;
}

.btn.btn-primary {
    color: #fff;
    border-color: #c0392b;
    background-color: #c0392b;
}

.btn.btn-neutral {
    color: #c0392b !important;
    border-color: #fff;
    background-color: #fff;
}

html, body, .wrapper, .container, .content-container {
    height: 100%;
}

.wrapper {
    padding-top: 4.1rem;
}

.content-container {
    padding-top: 4em;
    background-color: #fff;
}